*{
    margin: 0;
    padding: 0;
    text-align: center;
  
}
body{
    background-color:#B9D9EB;
}
h1{
    background-color: #081B31;
    color: white;
    height: 5rem;
    line-height:5rem;    
}
.choice{
    height: 200px;
    width:50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
img:hover{
    cursor: pointer;
    border: 3px solid rgb(255, 0, 0);
    
}
img{

    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    background-color: rgb(8, 50, 94);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2.5rem;
}

#msg{
    font-size: 2rem;
    background-color: #081B31;
    display: inline;
    color: white;
    padding: 10px;
    border-radius: 1rem;
}